<div data-child='createTimer' /><br/>

Client: <div data-child="createList" data-list='clients' /><br/>
Project: <div data-child="createList" data-list='projects' /><br/>
Task: <div data-child="createList" data-list='tasks' /><br/>

<button <%= selected.get('tasks') != '' ? '' : 'disabled' %> data-action='start-clock'>Start</button>
<button <%= selected.get('time') != null ? '' : 'disabled' %> data-action='stop-clock'>Stop</button>