<form data-action="login">
  <input type="text" name="username" /><br/>
  <input type="password" name="password" />
  <input type="submit" value="Login" />
</form>

<a data-action="request-invite" href="javascript:void(0);">Request Invite</a>