<select>
	<option></option>
	<% collection.forEach(function(model) { %>
		<option value="<%= model.id %>" <%= typeof selected.get(variable) != 'undefined' && selected.get(variable) == model.id ? 'selected' : '' %>><%= model.get('name') %></option>
	<% }); %>
</select>